[submodule "client"]
	path = client
	url = git@github.com:TAMULib/LibraryServiceStatusSystemUI.git
[submodule "service"]
	path = service
	url = git@github.com:TAMULib/LibraryServiceStatusSystemService.git
