#####################################
# Create a .env.service file next to
# this one with actual values.
#####################################

SERVER_PORT=9001
APP_SECURITY_ALLOWACCESS=http://localhost,http://localhost:8080
APP_PRODUCTS_URL=https://api-dev.library.tamu.edu/project-management/products
